*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;

}

:root{
    --white:white;
    --green:rgb(10, 171, 10);
    --black:black;
}


.section-1{
    display: flex;
    flex-direction: column;

}


label{
    margin-top: 1rem;

}
input{
    width: 20rem;
    height: 2rem;
}
table{
    display: block;
    text-align: center;
}
th,td{
    border: 1px solid var(--black);
    padding-top: 2px;
    padding-bottom: 2px;
    width: 10rem;

}
.btn{
    width: 5rem;
    height:2rem;
    border:1px solid var(--black);
    color: var(--white);
    background-color: var(--green);
    border-radius: 20px;
    margin: 5px;
    font-size: 1rem;
}