@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
}

:root{
    --white:white;
    --green:rgb(28, 190, 28);
    --black:black;
    --font-1: 'Roboto', sans-serif;
}
body{
    background: rgb (233,76, 161);
    background: -moz-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
    background:-webkit-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
    background: linear-gradient (90deg, rgba(233,76,161,1) 0%, rgba(199,74, 233,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}


.section-1{
    display: flex;
    flex-direction: column;
    margin:0px 35vw 0px;
    border: 1px solid black;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.tables-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem !important;

}
.btn{
  margin: 0px 50% 0px;
}


label{
    margin-top: 1rem;

}
input{
    width: 20rem;
    height: 2rem;
}
table{
    display: block;
    text-align: center;
    background:var(--white);
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 3px 12px rgba(32,32,32,.3);
}
th,td{
    border: 0.5px solid var(--black);
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding:10px 10px 10px;
    width: 10rem;


}

th{
    background: #ba68c8;
    color: var(--white);
}
td{
    color: rgb(101, 101, 101);
    font-size: 1.2rem;
}
tr:nth-child(odd){
    background-color: #eeeeee;
}
.btn{
    width: 5rem;
    height:2rem;
    /* border:1px solid var(--black); */
    color: var(--white);
    background-color: var(--green);
    border-radius: 20px;
    margin: 5px;
    font-size: 1rem;
    margin: 2rem 0 2rem;
    margin-left: 30% !important;

}

