@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
}

:root{
    --white:white;
    --green:rgb(10, 171, 10);
    --black:black;
    --font-1: 'Roboto', sans-serif;
}
body{
    background: rgb (233,76, 161);
background: -moz-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
background:-webkit-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
background: linear-gradient (90deg, rgba(233,76,161,1) 0%, rgba(199,74, 233,1) 100%);
background-repeat: no-repeat;
height: 100vh;
/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94cal",endColorstr="#c74ae9", GradientType=1); */
}


.section-1{
    display: flex;
    flex-direction: column;
    margin:0px 35vw 0px;

}
.tables-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem !important;

}
.btn{
  margin: 0px 50% 0px;
}




label{
    margin-top: 1rem;

}
input{
    width: 20rem;
    height: 2rem;
}
table{
    display: block;
    text-align: center;
    background:var(--white);
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 3px 12px rgba(32,32,32,.3);
}
th,td{
    border: 0.5px solid var(--black);
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding:5px 10px 5px;
    width: 10rem;


}

th{
    background: #ba68c8;
    color: var(--white);
}
td{
    color: rgb(49, 49, 49);
}
tr:nth-child(odd){
    background-color: #eeeeee;
}
.btn{
    width: 5rem;
    height:2rem;
    border:1px solid var(--black);
    color: var(--white);
    background-color: var(--green);
    border-radius: 20px;
    margin: 5px;
    font-size: 1rem;
}

